<%= form_with(model: [:admin, @order], local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" style="color: red; margin-left: 210px;">
      <h2 style="font-family: 'Cinzel', serif; color: #d4af37;"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid" style="margin-left: 210px; padding-top: 20px; max-width: calc(100% - 210px);">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :customer_email, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.text_field :customer_email, class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :total_price, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.number_field :total_price, step: 0.01, class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :status, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.select :status, options_for_select([['Pending', 'pending'], ['Completed', 'completed'], ['Canceled', 'canceled']], @order.status), {}, { class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" } %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :shipping_address, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.text_area :shipping_address, class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :payment_method, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.text_field :payment_method, class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.label :products, style: "display: block; color: #d4af37; font-family: 'Cinzel', serif;" %>
          <%= form.collection_select :product_ids, Product.all, :id, :title, {}, { multiple: true, class: 'form-control', style: "font-family: 'Arial', sans-serif; border: 1px solid #d4af37; padding: 10px;" } %>
        </div>

        <div class="form-group" style="padding-top: 20px;">
          <%= form.submit class: 'btn btn-primary', style: 'background-color: #d4af37; border-color: #d4af37; color: #343a40; font-family: Arial, sans-serif;' %>
        </div>
      </div>
    </div>
  </div>
<% end %>