<p style="color: green; margin-left: 210px; padding-top: 20px;"><%= notice %></p>

<div class="container-fluid" style="margin-left: 210px; padding-top: 20px; max-width: calc(100% - 210px);">
  <h1 style="font-family: 'Cinzel', serif; color: #d4af37;">Category Details</h1>

  <div class="card" style="background-color: #343a40; border: 1px solid #d4af37; padding: 20px;">
    <p style="font-family: 'Arial', sans-serif; color: #ffffff;">
      <strong style="color: #d4af37;">Name:</strong>
      <span style="color: #ffffff;"><%= @admin_category.name %></span>
    </p>

    <p style="font-family: 'Arial', sans-serif; color: #ffffff;">
      <strong style="color: #d4af37;">Description:</strong>
      <span style="color: #ffffff;"><%= @admin_category.description %></span>
    </p>

    <p style="font-family: 'Arial', sans-serif; color: #ffffff;">
      <strong style="color: #d4af37;">Parent Category:</strong>
      <span style="color: #ffffff;"><%= @admin_category.parent_category ? @admin_category.parent_category.name : 'None' %></span>
    </p>

    <p style="font-family: 'Arial', sans-serif; color: #ffffff;">
      <%= image_tag(@admin_category.image.variant(:thumb), alt: "Thumbnail", style: "border: 1px solid #d4af37; padding: 5px;") if @admin_category.image %>
    </p>
  </div>

  <div style="padding-top: 20px;">
    <%= link_to "Edit this category", edit_admin_category_path(@admin_category), class: 'btn btn-warning btn-sm', style: 'font-family: Arial, sans-serif;' %> |
    <%= link_to "Back to categories", admin_categories_path, class: 'btn btn-info btn-sm', style: 'font-family: Arial, sans-serif;' %>

    
  </div>
  <%= button_to "Destroy", admin_category_path(@admin_category), method: :delete, class: 'btn btn-danger btn-sm', style: 'font-family: Arial, sans-serif;margin-top: 10px' %>
</div>