<h1 class="text-center mt-4" style="font-family: 'Cinzel', serif; color: #d4af37;">Category Show Page</h1>

<div class="container mt-6">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-4" style="background-color: #343a40; border: 1px solid #d4af37;">
        <div class="card-body">
          <h5 class="card-title" style="color: #d4af37;">Filter Products</h5>
          <%= form_with url: category_path(@category), method: :get, class: "d-flex flex-column" do |form| %>
            <div class="row mb-2">
              <div class="col-6">
                <%= form.number_field :min, placeholder: "Min Price", class: "form-control" %>
              </div>
              <div class="col-6">
                <%= form.number_field :max, placeholder: "Max Price", class: "form-control" %>
              </div>
            </div>
            <%= form.text_field :colors, placeholder: "Color", class: "form-control mb-2" %>
            <%= form.text_field :sizes, placeholder: "Size", class: "form-control mb-2" %>
            <%= form.text_field :query, placeholder: "Search...", class: "form-control mb-2" %>
            <%= form.submit "Filter", class: "btn btn-dark" %>
          <% end %>
          <%= form_with url: category_path(@category), method: :get, class: "d-flex flex-column" do |form| %>
            <%= form.submit "Clear", class: "btn btn-dark mt-2" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row justify-content-center mt-6">
        <% if @products.empty? %>
          <p class="text-2xl text-left text-dark">No products found</p>
        <% else %>
          <% @products.each do |product| %>
            <div class="col-md-4 mb-4">
              <%= link_to product_path(product['id']) do %>
                <div class="card text-center" style="height: 100%;">
                  <%= image_tag(product['images'].first, class: "card-img-top rounded", style: "height: 200px; object-fit: cover;") if product['images'].present? %>
                  <div class="card-body">
                    <p class="card-text font-weight-bold text-dark"><%= product['title'] %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>